# Backend Environment Variables
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=
RABBIT_HOST=
RABBIT_PORT=
RABBIT_USER=
RABBIT_PASS=
JWT_SECRET=
APP_URL=
LOG_LEVEL=Information
OUTBOX_ENABLED=true
OUTBOX_DISPATCH_INTERVAL_MS=500
